body {
    font-family: monospace;
    background-color: rgb(68, 131, 110);
}

.app {
    background-color: rgb(127, 255, 212);
    padding:2%;
    text-align:center;
    width: 85%;
    height: 80vh;
    margin-left:5%;
    margin-right:5%;
    border-width: 5px;
    border-color:rgb(47, 99, 82);
    display: inline-block;
    vertical-align: middle;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.container {
    display:flex;
    border: 1px solid rgb(203 213 225);
}

.textbox {
    border-color:brown;
    border:none;

}

.line-numbers {
    border-right: 1px solid rgb(203 213 225);
    text-align:right;
    width:4ch;
    min-width:fit-content;

}

.textbox,
.line-numbers {
    font-size: 12px;
    padding:none;
    margin:none;
}