body {
    font-family: monospace;
    background-color: rgb(68, 131, 110);
}

.app {
    background-color: rgb(127, 255, 212);
    padding:2%;
    text-align:center;
    width: 85%;
    height: 80vh;
    margin-left:5%;
    margin-right:5%;
    border-width: 5px;
    border-color:rgb(47, 99, 82);
    display: inline-block;
}

.text-tools, .display {
    min-width:fit-content;
    width:45%;
    display: inline-block;
    margin: 2%;
    vertical-align:middle;
}

.text-tools {
    height:100%;
}

.display {
    font-size:16px;
    height:100%;
}

#state {
    background-color: rgb(207, 192, 127);
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    overflow-x:hidden;
    width:fit-content;
    padding: 1ch;
}

#game-data {
    background-color: rgb(106, 211, 176);
}

.texteditor {
    position: relative;
    height: 60%;
    text-align:left;
    margin: auto;
}

#editing, #highlighting {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size:small;
    overflow: auto;
}

#editing {
    z-index: 1;
    background: transparent;
    color: transparent;
    caret-color:black;
    white-space: nowrap;
    resize:none;
}

#highlighting {
    z-index: 0;
    background-color:rgb(172, 237, 215);
}

#game-data {
    width: 90%;
    height:20%;
}

fieldset {
    text-align:left;
    position: relative;
    margin-top: 20px;
}

.navigation {
    height: fit-content;
    width: fit-content;
    font-size: large;
}