body {
    font-family: monospace;
    background-color: rgb(68, 131, 110);
}

.app {
    background-color: rgb(127, 255, 212);
    padding:2%;
    text-align:center;
    width: 85%;
    height: 80vh;
    margin-left:5%;
    margin-right:5%;
    border-width: 5px;
    border-color:rgb(47, 99, 82);
    display: inline-block;
}

.text-editor, .display {
    min-width:fit-content;
    width:45%;
    display: inline-block;
    margin: 2%;
    vertical-align:middle;
}

.text-editor {
    height:100%;
}

.display {
    font-size:16px;
    height:100%;
}

#state {
    background-color: rgb(207, 192, 127);
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    overflow-x:hidden;
    width:fit-content;
    padding: 1ch;
}

textarea {
    background-color: rgb(106, 211, 176);
}

#sgf-input {
    height: 80%;
    width: 100%;
}

#game-data {
    width: 90%;
    height:20%;
}

fieldset {
    text-align:left;
}

.navigation {
    height: fit-content;
    width: fit-content;
    font-size: large;
}