@font-face {
    font-family: 'ubuntu-condensed';
    src: url('./fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf');
}

body {
    font-family: 'ubuntu-condensed';
    background-color: #634087;
    overflow:hidden;
    position:absolute;
    height:100%;
    width:100%;
    display:flex;
    margin:0;
}

.app {
    background-color: #deb7ff;
    padding: 0.5em;
    text-align:center;
    width: 100%;
    margin:0.5em;
    border:solid;
    border-width: 3px;
    border-color:#a86add;
    display: flex;
    vertical-align: middle;
    overflow:hidden;
    border-radius: 9px;
}

#editorParent,
#modulesContainer {
    border:solid;
    border-radius:7px;
    border-width:1px;
    border-color: #c785ec;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

#splitBar {
    height:100%;
    width: .5em;
    cursor:col-resize;
}

#modulesContainer {
    flex:1;
    overflow: hidden;
    background-color:#8549a7;
}

#modules {
    height:98%;
    width:98%;
    margin: 1%;
    position:relative;
    display: flex;
    flex-direction: column;
}

#gobanParent,
#navigationParent,
#infoParent {
    width:100%;
}

#gobanParent {
    flex-grow:1;
    height:90%;
    display: flex;
}

#navigationParent {
    min-height: fit-content;
    position:sticky;
    bottom:0;
}

#infoParent {
    /*position:absolute;
    bottom:0;*/
    height:10%;
    overflow-y: scroll;
}