.kosumiNodeInfo {
    display:flex;
    flex-direction: row;
    font-size: small;
    justify-content: space-evenly;
}

.kosumiNodeInfoRoot,
.kosumiNodeInfoGameInfo,
.kosumiNodeInfoOther {
    text-align: left;
    max-width: 40%;
}