.token.openParenthesis,
.token.closeParenthesis {
    color: rgb(0, 89, 255);
}

.token.semicolon {
    color: rgb(234, 78, 255);
}

.token.propertyIdentifier {
    color:aqua;
}

.token.openBracket,
.token.closeBracket {
    color: rgb(0, 255, 81);
}

.token.propertyValue.normalCharacter {
    color: rgb(26, 174, 0);
}

.token.propertyValue.escapedCharacter {
    color: rgb(255, 166, 0);
}

.token.error {
    color: black;
    background-color: rgba(255, 34, 34, 0.774);
}
/*token.whitespace*/
