@font-face {
    font-family: 'droid-sans';
    src: url('../fonts/DroidSans/DroidSans.ttf');
}

.gobanContainer {
    height:fit-content;
    width:fit-content;
    vertical-align:middle;
    font-size:16px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:10px auto;
}

.gobanBoardState {
    background-color: burlywood;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:fit-content;
    padding:1ch;
    text-wrap:nowrap;
}

.gobanCanvas {
    /*background-color: rgb(202, 178, 117);
    height: 20em;
    width: 20em;*/
    margin-left:auto;
    margin-right:auto;
}

.gobanPointEmpty {
    color:transparent;
}

.gobanPointWhite {
    color:white;
}

.gobanPointBlack {
    color:black;
}

.gobanPointBlack,
.gobanPointWhite,
.gobanPointEmpty {
    font-size: 16px;
}

.gobanInfo {
    width:90%;
    height:20%;
    background-color:rgb(200, 200, 200);
}