.bt-editor {
    overflow-y: auto;
    overflow-x:hidden;
    height:100%;
    position:absolute;
    font-family:'Courier New', Courier, monospace;
}

.bt-vertical-scroll {
    display:flex;
    flex-direction: row;
    height:fit-content;
    min-height: 100%;
}

.bt-line-numbers {
    width:fit-content;
    padding-left: 1ch;
}

.bt-divider {
    width: 1ch;
}

pre {
    background-color: rgb(48, 48, 48);
    color:antiquewhite;
    text-wrap:wrap;
    word-break: break-all;
}

code {
    width: 100%;
}

.sgf-node {
    color:rgb(153, 121, 195)
}

.sgf-property-value {
    color: #eb8056;
}

.sgf-escaped {
    color: #D7BA5E;
}

.sgf-property-identifier {
    color: rgb(91,213,213);
}

.sgf-error {
    color: red;
}